*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.copyright-text a{
  color: white;
  text-decoration: none;
}
.geel{
  background-color: yellow;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbar {
  overflow: hidden;
  background-color: #26272b; 
}

.navbar a {
  font-size: 14px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.subnav {
  float: right;
  overflow: hidden;
}

.subnav-time {
  float: right;
  overflow: hidden;
  color: white;
  padding-top: 14px;
  padding-right: 10px;
}

.subnav-logo{
  float: left;
  overflow: hidden;
  padding-top: 10px;
}

.subnav .subnavbtn {
  font-size: 14px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.red{
  background:#cc0000;
}

.blue{
  background:#4682b4 ;
}

.linkP{
  background-color: #494a4e;
}

.Vlink-1 img{
  width: 88%;
  border-radius: 4%;
}

.Vlink-2 img{
  border-radius: 4%;
}

.Vlink-3 img{
  width: 38%;
  border-radius: 4%;
}

.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: #cc0000;
  width: 100%;
  z-index: 1;
}

.subnav-content a {
  float: right;
  color: white;
  text-decoration: none;
}

.subnav-content a:hover {
  background-color: #eee;
  color: black;
}

.subnav:hover .subnav-content {
  display: block;
}

footer{
  margin-top: auto;
}


.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}


.text{
  background-color: #26272b;
}

.copyright-text
{
  margin:0
}
.container{
  width: 970px;
  margin: 0 auto;
}

.container h1{
  padding: 20px;
}


.song{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.lyrics{
  display: flex;
  justify-content: space-between;
  align-items: center;
background: white;
padding: 10px;
border-radius: 4%;
white-space: pre;
box-shadow: 26px 10px 15px -3px rgba(0,0,0,0.1);
}

.lyrics img{
  border-radius: 4%;
}

.videoLinks{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  
}

.videoLinks a{
  text-decoration: none;
  color: black;
}

.videoLinks a:visited{
  color: grey;
}

.videoLinks a:hover{
  color: #4682b4;
}

.Vlink-1{
  padding: 10px;
}

.Vlink-2{
  padding: 10px;
}

.Vlink-3{
  padding: 10px;
}